.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;

}
.apply_inner{
    max-width: 480px;
}
.apply_illustration, .about_illustration{
    max-width: 75%;
    margin-bottom: 20px;
}
.container img{
    animation: slideInRight;
}
 .title{
    color: #EE4D47;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.1em;
    text-align: left;
}
.paragraph{

font-size: 18px;
font-weight: 300;
line-height: 40px;
text-align: left;

}
.how_to_apply_text{
    display: flex;
    justify-content: end;
}

.about_us_notification p{
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.5em;
    text-align: left;

}
.about_us_notification{
    background-color: #f1bcab;
  border-left: 5px solid #f55a44;
  padding: 1%;
  margin-top: 2rem;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333;
max-width: 70%;
}

.feedbacks {
    padding: 50px;
    text-align: center;
}

.feedbacks__container-person h5, img{
    display: flex;
    align-items: flex-start;
    animation: slideInRight;

}

.feedbacks h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.1em;
    color: #EE4D47;
}
.feedbacks h4{
    font-size: 48px;
    font-weight: 400;
    line-height: 67.2px;
    margin-top: -1%;     
}
.feedbacks__container {
    display: flex;
    justify-content: space-between;
}

.feedback {
    width: 30%;
    background-color: #FFF;
    border-radius: 10px;
    padding: 1%;
    box-shadow: 0px 20px 40px 0px #EE4D471A;
}
.feedback:hover {
    box-shadow: 0px 20px 40px 0px #e8271b;
    transition: 1s;
}
.feedback p {
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;

}
.feedback h5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    margin: 0;
}
.feedback_user_info{
    display: flex;
    justify-content: start;
    align-items: center;
}
@media (max-width: 768px) {
    .about_us, .how_to_apply {
        padding: 10% 5%;
    }
    .about_us h2 ,.how_to_apply h2{
        font-size: 20px;
        line-height: 30px;
    }
    .about_us__illustration{
        display: none;
    }
    .how_to_apply__illustration{
        display: none;
    }
    .feedbacks {
        padding: 20px;
    }
    .feedback {
        width: 100%;
    }
    .feedbacks__container {
        display: flex;
        flex-direction: column;
        gap: 30px;

    }
    .feedbacks__container-person h5, img{
        display: flex;
        align-items: center;
    }
    .feedback_user_info{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
}
@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.navbar__logo {
    animation: slideInRight;
    animation-duration: 2s ;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}
@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.navbar__logo {
    animation: slideInRight;
    animation-duration: 2s ;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}
